* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

#wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: small;
  color: gray;
}

#input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
  padding: 0 1rem;
  margin: 0 auto;
}

#input {
  padding: 0.5rem 1rem;
  flex: 1;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid gray;
  background: aliceblue;
}
#input:focus {
  outline: 2px solid skyblue;
}
#input-btn {
  padding: 0.3rem 0.5rem;
  width: 100%;
}

button {
  cursor: pointer;
}

#categories-section {
  border-top: solid 3px lightgray;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.category-btn {
  padding: 0.3rem 0.5rem;
  background-color: coral;
  color: white;
  border-radius: 1rem;
  border: none;
  outline: none;
}

#meal-section {
  margin-top: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 1rem;
  /* auto-fit + minmax 로 화면 넓어지면 2, 3, 4개까지 자동으로 늘어남 */
}

.meal-container {
  overflow: hidden;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 내용 기준으로 정렬 */
  gap: 0.6rem;
}

.meal-container:hover {
  transform: translateY(-5px);
}

.meal-container img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.meal-container .category-badge {
  background-color: skyblue;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 0.6rem;
}

.hidden {
  visibility: hidden;
}

.meal-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  #input-section {
    flex-direction: row;
    max-width: 400px;
    padding: 0 1rem; /* 양옆 여백 살짝 */
  }
  #input-btn {
    width: auto;
    flex: 0;
  }
}
