:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
header {
  padding: 1rem;
  width: 100%;
  background-color: black;
}

ul {
  display: flex;

  gap: 1rem;
}
li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a.active::before {
  content: "*";
}

#app {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
