:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  min-height: 100vh;
  background-color: black;
}

i {
  color: green;
  background-color: greenyellow;
  padding: 0.5rem;
  border-radius: 10rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

header h2 {
  color: green;
  font-size: 2.5rem;
  font-weight: 900;
}
header p {
  color: white;
  margin-bottom: 2.5rem;
}

#card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 0 4rem;
}

.card {
  border-radius: 0.3rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
}
