:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  min-height: 100vh;
  background-color: cornflowerblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap {
  width: 600px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  display: flex;
  gap: 2rem;
}

h2 {
  margin-bottom: 2rem;
}
#form {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px dashed gray;
}

#users-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1rem;
}
.form-group input {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}
.form-group input:focus {
  border-color: skyblue;
}
.form-group .msg {
  font-size: 0.6rem;
  color: gray;
  display: none;
}

#add-btn {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.form-group.error input {
  background-color: lightcoral;
}
.form-group.success input {
  background-color: lightgreen;
}

.form-group.error .msg {
  display: block;
  color: coral;
}

#users-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#users-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#users-list li button {
  background-color: coral;
}
